.app-wrapper {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.app-navbar {
  height: 90px;
  width: 100%;
  /* background: transparent linear-gradient(90deg, #fffae2 0%, #e2eeff 100%) 0% 0%
    no-repeat padding-box; */
  position: absolute;
  background-color: transparent;
  right: 0;
}

.layout-children {
  height: 100%;
  width: 100%;
  display: flex;
}

.navbar-ch-con {
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  /* height: 100%; */
  padding-bottom: 40px;
  overflow-x: hidden !important;
  /* position: relative; */
}
.navbarChild {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: "center";
  margin-top: 40px;
  /* padding-bottom: 90px; */
  /* border-bottom: 1px solid #7c7c7c; */
  padding-bottom: 12px;
}
.navbar-logo {
  display: flex;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100%;
}
.navbarDownloadLink li a {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
.navbar-logo img {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 13px;
  color: #718096;
}

.right-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  background: #f5faff;
  width: fit-content;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}

.right-links li {
  margin-left: 70px;
  font-size: 14px;
  color: #00101d;
  transition: all 300ms ease;
}

.right-links li:first-child {
  margin-left: 0;
}

.right-links .activeNvaLink a {
  color: orange !important;
}

.right-links .activeNvaLink::after {
  content: "";
  width: 100%;
  height: 0.8px;
  background-color: white;
  flex-direction: column;
  border: 1px solid white;
  display: block;
  position: relative;
  top: 14px;
  transition: all 300ms ease;
}

.right-links li a {
  text-decoration: none;
  color: #00101d;
}

.link-Cr-wrap {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f0f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-Cr-wrap svg {
  width: 40%;
  height: 40%;
}

.link-Cr-wrap img {
  width: 95%;
  height: 95%;
}
.layout-ch {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  /* height: calc(100% - 70px);
  position: absolute; */
  margin-top: 70px;
  right: 0;

  /* overflow: hidden; */
  /* overflow-y: scroll; */
}

.footer {
  background: #f5faff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer .footerCol1 {
  width: 200px;
}
.footerCol1 img {
  width: 180px;
}

.footerCol1 a {
  font-size: 15px;
  color: #59636b;
  text-decoration: none;
  white-space: nowrap;
}

.footer .footerCol2 {
  width: calc(100% - 300px);
  height: 40px;
}

.footer .footerCol2 .footerCol2-col1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer .footerCol2 .footerCol2-col1 div {
  height: 100%;
  width: 1px;
  background-color: #0088ffaf;
}
.footerCol2-col3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.footerCol2-col3 a {
  font-size: 15px;
  color: #00101d;
  text-decoration: none;
}

.footerCol2-col3 svg {
  cursor: pointer;
}

.footer .footerCol2 .footerCol2-col1 a {
  font-size: 15px;
  color: #00101d;
}

.footer .footerCol2 .footerCol2-col1 button {
  padding: 10px 20px;
  border: none;
  background-color: #0087ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.footerCol2-col2 {
  width: 100%;
  margin-top: 40px;
}

.footerCol2-col2 a {
  font-size: 15px;
  color: #00101d;
}

.footerCol2-col2 div {
  width: 100%;
  background-color: #0088ff7e;
  height: 1px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 120px;
}

.footer-wrap-col1 h2 {
  font-size: 22px;
  line-height: 152%;
  color: #ffffff;
}

.footer-wrap-col1 ul {
  margin-top: 30px;
}

.footer-wrap-col1 ul li {
  margin-top: 40px;
  color: #bfbfbf;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.footer-wrap-col1 ul li svg {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.footer-wrap-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.footer-wrap-col2 h2 {
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
}

.socilalinksFooter {
  display: flex;
  margin-top: 50px;
}

.socilalinksFooter svg {
  margin-right: 50px;
  width: 20px;

  cursor: pointer;
}

@media (min-width: 829px) {
  .HideOnDesktop {
    display: none !important;
  }
  .mobileLinks {
    display: none !important;
  }
}

@media (max-width: 829px) {
  .hideOnMobile {
    display: none;
  }
  .mobileLinks {
    background-color: #edf6ff;
    height: 300px;
    width: calc(100vw - 10vw);
    /* overflow: hidden; */
    position: absolute;
    z-index: 444;
    /* left: 0; */
    /* height: 100vh; */
    padding: 40px;
    border-radius: 10px;
    -webkit-filter: drop-shadow(1px 5px 5px rgba(128, 128, 128, 0.336));
    filter: drop-shadow(1px 5px 5px rgba(128, 128, 128, 0.336));
    margin-top: 32px;
  }

  .mobileLinks ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
  }

  .mobileLinks ul li {
    margin-bottom: 30px;
    list-style-type: none;
  }

  .mobileLinks ul li a {
    text-decoration: none;
    color: #013d79;
  }
  .navbar-ch-con {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  .footer-wrap {
    justify-content: center;
    align-items: center;
  }
}
